/* 全局 */
*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
}
/* 大框架 */
.box{
	width:1326px;
	height:742px;
	background-color:#ccc;
	margin:0 auto;
}
/* 大框架里的第一个大框架 */
.box_1{
	width:1326px;
	height:121px;
	background-color:#ccc;
}
/* 第一个框架 */
.one{
	width:307px;
	height:121px;
	background-color:#ccc;
	float:left;
}
/* logo图 */
.tp{
	margin-left:14px;
	margin-top:36px;
	
}
/* 第二个框架 */
.two{
	width:1019px;
	height:121px;
	background-color:#ccc;
	float:left;
}
/* 电话	 */
.sz{
	float:right;
	margin-right:400px;
	margin-top:21px;
}
/* 万户 */
.wh{
	float:right;
	margin-right:-210px;
	margin-top:21px;
}
/* 电话照片 */
.zp{
	margin-top:21px;
	margin-left:487px;
}
/* 搜索框 */
.kj{
	width:151px;
	height:32px;
	border-radius:15px;
	float:right;
	float:top;
}
/* ul标签 */
.sy{
	float:left;
	margin-left:35px;
	margin-top:35px;
}
/* 大框架里的第二个大框架 */
.box_2{
	width:1326px;
	height:462px;
	background-color:orange;
}
/* 大框架里的第三个大框架 */
.box_3{
	width:1326px;
	height:163px;
	background-color:#ccc;
}
/* dl */
.box_3 dl{
	float:left;
	margin-left:80px;
}
/* 地区 */